$breakpoint-xl: 1560px;
$breakpoint-lg: 992px;
$breakpoint-md: 768px;
$breakpoint-sm: 600px;

$fontFamily-title: 'Lato', sans-serif;
$fontFamily-heading: 'Source Sans Pro', sans-serif;
$fontFamily-para: 'Roboto', sans-serif;

$fontSize: 10px;

$titleSize: 50rem;
$titleSize-sm: 11rem;

$headingSize-1: 8rem;
$headingSize-2: 6rem;
$headingSize-3: 3.5rem;
$headingSize-4: 2.5rem;
$headingSize-5: 2rem;
$headingSize-6: 1.8rem;
$subheadingDecrease: 0.6;

$paraSize: 1.8rem;
$paraSize-sm: 1.6rem;
$paraSize-lg: 3rem;
$mobileIncrease: 1.25;

$spacer: 0.8rem;
$lineHeight: 2.4rem;
$letterSpacing: 0.05rem;

$color-reset: #ffffff;
$color: #1976d2;
$color--light: #63a4ff;
$color--dark: #004ba0;
$color-alt: #304ffe;
$color-alt--light: #7a7cff;
$color-alt--dark: #0026ca;

$text-color: #000000;
$text-color--dark: #ffffff;