.callout {
    position: absolute;
    height: 100%;
    width: calc(100% * 2/3);
    top: 0px;

    &--right {
        @extend .callout;
        right: -60px;
        transform: skewX(-20deg);
    }

    &--left {
        @extend .callout;
        left: -60px;
        transform: skewX(20deg);
    }
}