@import './vars';

.callout {
    position: absolute;
    height: 100%;
    width: calc(100% * 2/3);
    top: 0px;

    &--right {
        @extend .callout;
        right: -80px;
        transform: skewX(-20deg);
    }
}

@media only screen and (min-width: $breakpoint-xs) {
    .callout {

        &--right {
            right: -60px;
        }
    }
}

@media only screen and (min-width: $breakpoint-sm) {
    .callout {

        &--right {
            right: -60px;
        }
    }
}

@media only screen and (min-width: $breakpoint-sm) {
    .callout {

        &--right {
            right: -60px;
        }
    }
}

@media only screen and (min-width: $breakpoint-md) {
    .callout {

        &--right {
            right: -17%;
            width: 80%;
        }
    }
}

@media only screen and (min-width: $breakpoint-lg) {
    
}

@media only screen and (min-width: $breakpoint-xl) {
    
}

@media only screen and (min-width: $breakpoint-hd) {
    
}