@import './vars';

.callout {
    position: absolute;
    height: 100%;
    width: calc(100% * 2/3);
    top: 0px;

    &--right {
        @extend .callout;
        right: -80px;
        transform: skewX(-20deg);
    }

    &--left {
        @extend .callout;
        left: -80px;
        transform: skewX(20deg);
    }
}

@media only screen and (max-width: $breakpoint-sm) {
    .callout {

        &--right {
            right: -60px;
        }

        &--left {
            left: -60px;
        }
    }
}

@media only screen and (min-width: $breakpoint-sm) {
    .callout {

        &--right {
            right: -60px;
        }

        &--left {
            left: -60px;
        }
    }
}

@media only screen and (min-width: $breakpoint-md) {
    .callout {

        &--right {
            right: -60px;
        }

        &--left {
            left: -60px;
        }
    }
}

@media only screen and (min-width: $breakpoint-lg) {
    .callout {

        &--right {
            right: -60px;
        }

        &--left {
            left: -60px;
        }
    }
}

@media only screen and (min-width: $breakpoint-xl) {
    .callout {

        &--right {
            right: -80px;
        }

        &--left {
            left: -80px;
        }
    } 
}