html,
body {
    margin: 0;
    padding: 0;
}

html {
    background-color: $color-reset;
    font-size: $fontSize;
    color: $text-color;
}

body {
    font-size: $paraSize;
}

.title {
    font-family: $fontFamily-title;
    font-size: $titleSize;

    &--sm {
        font-size: $titleSize-sm;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $fontFamily-heading;
}

h1 {
    font-size: $headingSize-1;
}

h2 {
    font-size: $headingSize-2;
}

h3 {
    font-size: $headingSize-3;
}

h4 {
    font-size: $headingSize-4;
}

h5 {
    font-size: $headingSize-5;
}

h6 {
    font-size: $headingSize-6;
}

.para {
    font-family: $fontFamily-para;
    font-size: $paraSize;

    &--lg {
        font-size: $paraSize-lg;
    }

    &--sm {
        font-size: $paraSize-sm;
    }
}