#opener {
    user-select: none;
}

@media only screen and (max-width: $breakpoint-sm) {
    #opener {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
    }

    #opener [class*="col-xs"] {
        flex-basis: 100%;
        min-width: 100%;
    }

    #opener .title--sm {
        padding-bottom: 0px;
    }
}

@media only screen and (max-width: $breakpoint-md) {

    #opener {
        padding: 0px 0px 80px;
    }

    #opener [class*="col-xs"] {
        flex-basis: 100%;
        min-width: 100%;
    }

    #opener .title--sm {
        padding-bottom: 0px;
        padding-left: 34px;
        padding-right: 34px;
    }
}

@media only screen and (min-width: $breakpoint-md) {
    
    #opener {
        padding: 0px 0px 50px;
    }
    
    #opener .title--sm {
        padding-bottom: 34px;
    }
}

@media only screen and (min-width: $breakpoint-lg) {
    
    #opener {
        padding: 0px 0px 80px;
    }

    #opener .title--sm {
        padding-bottom: 44px;
    }
}

@media only screen and (min-width: $breakpoint-xl) {
    
    #opener {
        padding: 0px 0px 119px;
    }

    #opener .title--sm {
        padding-bottom: 80px;
    }
}