@import './vars';

.tech-logo {
    max-width: 30%;
    height: 150px;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

#logo-javascript {
    background-image: url('../assets/javascript.png');
    background-size: 80%;
}

#logo-html-5 {
    background-image: url('../assets/html-5.png');
    background-size: 75%;
}

#logo-css-3 {
    background-image: url('../assets/css-3.png');
    background-size: 60%;
}

#logo-node-js {
    background-image: url('../assets/node-js.png');
}

#logo-apps-script {
    background-image: url('../assets/apps-script.png');
}

#logo-angular-js {
    background-image: url('../assets/angular-js.png');
}

#logo-express-js {
    background-image: url('../assets/express-js.png');
}

#logo-puppeteer {
    background-image: url('../assets/puppeteer.png');
    background-size: 65%;
}

#logo-webpack {
    background-image: url('../assets/webpack.png');
}

#logo-sass {
    background-image: url('../assets/sass.png');
}

#logo-vs-code {
    background-image: url('../assets/visual-studio-code.png');
    background-size: 75%;
}

#logo-github {
    background-image: url('../assets/github.png');
}

#logo-firebase {
    background-image: url('../assets/firebase.png');
    background-size: 140%;
}

#logo-adobe-illustrator {
    background-image: url('../assets/adobe-illustrator.png');
    background-size: 75%;
}

#logo-adobe-xd {
    background-image: url('../assets/adobe-xd.png');
    background-size: 75%;
}

#logo-typescript {
    background-image: url('../assets/typescript.svg');
    background-size: 95%;
}

#logo-docker {
    background-image: url('../assets/docker.png');
}

#logo-postgres {
    background-image: url('../assets/postgres.png');
    background-size: 95%;
}

@media only screen and (max-width: $breakpoint-sm) {
    .tech-logo {
        max-width: 30%;
    }
}

@media only screen and (min-width: $breakpoint-sm) {
    .tech-logo {
        max-width: 75%;
    }
}

@media only screen and (min-width: $breakpoint-md) {
    .tech-logo {
        max-width: 60%;
    }
}

@media only screen and (min-width: $breakpoint-lg) {
    .tech-logo {
        max-width: 50%;
    }
}

@media only screen and (min-width: $breakpoint-xl) {
    .tech-logo {
        max-width: 30%;
    }
}

.avatar--music {
    max-width: 75%;
    height: 200px;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    border-radius: 100%;
    margin-bottom: ($spacer * 3);
}

#avatar-lil-nas-x {
    background-image: url('../assets/lil-nas-x.jpg');
    background-size: 110%;
}

#avatar-selah-sue {
    background-image: url('../assets/selah-sue.jpg');
}

#avatar-rac {
    background-image: url('../assets/rac.jpg');
    background-size: 162%;
}

#avatar-charli-xcx {
    background-image: url('../assets/charli-xcx.jpg');
}

#avatar-quadeca {
    background-image: url('../assets/quadeca.jpg');
    background-size: 108%;
}

#avatar-the-kooks {
    background-image: url('../assets/the-kooks.jpg');
    background-size: 120%;
}

@media only screen and (max-width: $breakpoint-sm) {
    .avatar--music {
        max-width: 48%;
        height: 235px;
    }
}

@media only screen and (min-width: $breakpoint-sm) {
    .avatar--music {
        height: 102px;
        max-width: 86%;
    }
}

@media only screen and (min-width: $breakpoint-md) {
    .avatar--music {
        height: 102px;
        max-width: 80%;
    }
}

@media only screen and (min-width: $breakpoint-lg) {
    .avatar--music {
        height: 120px;
        max-width: 75%;
    }
}

@media only screen and (min-width: $breakpoint-xl) {
    .avatar--music {
        height: 200px;
        max-width: 75%;
    }
}