/*
    This grid design was inspired by http://flexboxgrid.com/
    https://github.com/kristoferjoseph/flexboxgrid
*/

@use "sass:meta";
@import './vars';

$gutter-width: 1rem;
$gutter-compensation: (($gutter-width * 0.5) * -1);
$half-gutter-width: ($gutter-width * 0.5);
$outer-margin: 2rem;

.row {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: $gutter-compensation;
    margin-left: $gutter-compensation;
}

.row.reverse {
    flex-direction: row-reverse;
}
  
.col.reverse {
    flex-direction: column-reverse;
}

@mixin grid-system($args...) {
    @each $name, $value in meta.keywords($args) {
        @media only screen and (min-width: $value) {
            .col-#{$name},
            .col-#{$name}-1,
            .col-#{$name}-2,
            .col-#{$name}-3,
            .col-#{$name}-4,
            .col-#{$name}-5,
            .col-#{$name}-6,
            .col-#{$name}-7,
            .col-#{$name}-8,
            .col-#{$name}-9,
            .col-#{$name}-10,
            .col-#{$name}-11,
            .col-#{$name}-12,
            .col-#{$name}-offset-1,
            .col-#{$name}-offset-2,
            .col-#{$name}-offset-3,
            .col-#{$name}-offset-4,
            .col-#{$name}-offset-5,
            .col-#{$name}-offset-6,
            .col-#{$name}-offset-7,
            .col-#{$name}-offset-8,
            .col-#{$name}-offset-9,
            .col-#{$name}-offset-10,
            .col-#{$name}-offset-11,
            .col-#{$name}-offset-12 {
                box-sizing: border-box;
                flex: 0 0 auto;
                padding-right: $half-gutter-width;
                padding-left: $half-gutter-width;
            }

            .col-#{$name} {
                flex-grow: 1;
                flex-basis: 0;
                max-width: 100%;
              }

            .col-#{$name}-1 {
                flex-basis: 8.33333333%;
                max-width: 8.33333333%; 
            }

            .col-#{$name}-2 {
                flex-basis: 16.66666667%;
                max-width: 16.66666667%;
            }

            .col-#{$name}-3 {
                flex-basis: 25%;
                max-width: 25%;
            }

            .col-#{$name}-4 {
                flex-basis: 33.33333333%;
                max-width: 33.33333333%; 
            }

            .col-#{$name}-5 {
                flex-basis: 41.66666667%;
                max-width: 41.66666667%;
            }

            .col-#{$name}-6 {
                flex-basis: 50%;
                max-width: 50%;
            }

            .col-#{$name}-7 {
                flex-basis: 58.33333333%;
                max-width: 58.33333333%;
            }

            .col-#{$name}-8 {
                flex-basis: 66.66666667%;
                max-width: 66.66666667%;
            }

            .col-#{$name}-9 {
                flex-basis: 75%;
                max-width: 75%;
            }

            .col-#{$name}-10 {
                flex-basis: 83.33333333%;
                max-width: 83.33333333%;
            }

            .col-#{$name}-11 {
                flex-basis: 91.66666667%;
                max-width: 91.66666667%;
            }

            .col-#{$name}-12 {
                flex-basis: 100%;
                max-width: 100%;
            }

            .col-#{$name}-offset-0 {
                margin-left: 0;
              }
              
              .col-#{$name}-offset-1 {
                margin-left: 8.33333333%;
              }
              
              .col-#{$name}-offset-2 {
                margin-left: 16.66666667%;
              }
              
              .col-#{$name}-offset-3 {
                margin-left: 25%;
              }
              
              .col-#{$name}-offset-4 {
                margin-left: 33.33333333%;
              }
              
              .col-#{$name}-offset-5 {
                margin-left: 41.66666667%;
              }
              
              .col-#{$name}-offset-6 {
                margin-left: 50%;
              }
              
              .col-#{$name}-offset-7 {
                margin-left: 58.33333333%;
              }
              
              .col-#{$name}-offset-8 {
                margin-left: 66.66666667%;
              }
              
              .col-#{$name}-offset-9 {
                margin-left: 75%;
              }
              
              .col-#{$name}-offset-10 {
                margin-left: 83.33333333%;
              }
              
              .col-#{$name}-offset-11 {
                margin-left: 91.66666667%;
              }
              
              .start-#{$name} {
                justify-content: flex-start;
                text-align: start;
              }
              
              .center-#{$name} {
                justify-content: center;
                text-align: center;
              }
              
              .end-#{$name} {
                justify-content: flex-end;
                text-align: end;
              }
              
              .top-#{$name} {
                align-items: flex-start;
              }
              
              .middle-#{$name} {
                align-items: center;
              }
              
              .bottom-#{$name} {
                align-items: flex-end;
              }
              
              .around-#{$name} {
                justify-content: space-around;
              }
              
              .between-#{$name} {
                justify-content: space-between;
              }
              
              .first-#{$name} {
                order: -1;
              }
              
              .last-#{$name} {
                order: 1;
              }
        }
    }
}

@include grid-system(
    $xs: $breakpoint-xs,
    $sm: $breakpoint-sm,
    $md: $breakpoint-md,
    $lg: $breakpoint-lg,
    $xl: $breakpoint-xl,
    $hd: $breakpoint-hd
);

.content {
    margin: 0 auto;
    width: calc(100% - 1rem);
}

@mixin wrapper-system($args...) {
    @each $name, $value in meta.keywords($args) {
        @media only screen and (min-width: $value) {
            .content {
                width: ($value - 1);
            }
        }
    }
}

@include wrapper-system(
    $sm: $breakpoint-sm,
    $md: $breakpoint-md,
    $lg: $breakpoint-lg,
    $xl: $breakpoint-xl,
    $hd: $breakpoint-hd
);