<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chris Aube | Portfolio</title>
    {{{partials.externalStyles}}}
    {{#if styles}}
        <link href="{{{styles.main.url}}}" rel="stylesheet">
        <link href="{{{styles.home.url}}}" rel="stylesheet">
    {{/if}}
    {{#if scripts}}
        <script src="{{{scripts.main.url}}}"></script>
    {{/if}}
  </head>
  <body>    
    <main>

        <section>
            <div id="opener" class="row bottom-xs">
                <div class="col-xs-5">
                    <div class="title">Hi,</div>
                </div>

                <div class="col-xs-7">
                    <div class="title--sm">
                        <div>I'm Chris</div>
                        <div>and I make things.</div>
                    </div>
                </div>
            </div>
        </section>

    </main>
  </body>
</html>
