<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chris Aube | Portfolio</title>
    {{{partials.externalStyles}}}
    {{#if styles}}
        <link href="{{{styles.main.url}}}" rel="stylesheet">
        <link href="{{{styles.home.url}}}" rel="stylesheet">
    {{/if}}
    {{#if scripts}}
        <script src="{{{scripts.main.url}}}"></script>
    {{/if}}
  </head>
  <body>    
    <main>

        <section id="opener">
            <div class="row bottom-xs">
                <div class="col-xs-5">
                    <div class="title">Hi,</div>
                </div>

                <div class="col-xs-7">
                    <div class="title--sm">
                        <div>I'm Chris</div>
                        <div>and I make things.</div>
                    </div>
                </div>
            </div>
        </section>

        <section id="bio">
            <div class="callout--right"></div>
            <div class="row middle-xs">

                <div class="col-xs-5">
                    <img class="avatar" src="./public/assets/me-and-ophelia.jpg">
                </div>

                <div class="col-xs-7">
                    <div class="para">
                        <p>
                            I am an experienced developer who has been designing, developing, and maintaining web applications and micro services for over 10 years.
                            Javascript has been at the heart of my career and the language of choice as a hobby.
                            Since 2019, I've been leading small teams of frontend developers from juniors to seniors.
                            Mentoring those who have reported to me has been very rewarding.
                        </p>
                    </div>
                </div>

            </div>
        </section>

    </main>
  </body>
</html>
