<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chris Aube | Portfolio</title>
    {{{partials.externalStyles}}}
    {{#if styles}}
        <link href="{{{styles.main.url}}}" rel="stylesheet">
        <link href="{{{styles.home.url}}}" rel="stylesheet">
    {{/if}}
    {{#if scripts}}
        <script src="{{{scripts.main.url}}}"></script>
    {{/if}}
  </head>
  <body>    
    <main>

        <section id="opener" class="section">
            <div class="content">
                <div class="row bottom-xs">

                    <div class="col-xs-5">
                        <div class="title">Hi,</div>
                    </div>

                    <div class="col-xs-7">
                        <div class="title--sm">
                            <div>I'm Chris</div>
                            <div>and I make things.</div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section id="bio" class="section">
            <div class="callout--right"></div>

            <div class="content">
                <div class="row middle-xs">

                    <div class="col-xs-5">
                        <img class="avatar" src="./public/assets/me-and-ophelia.jpg">
                    </div>

                    <div class="col-xs-7">
                        <div class="callout"></div>
                        <div class="para">
                            <p>
                                I'm an experienced developer who has been designing, developing, and maintaining web applications and micro services for over 10 years.
                                Javascript has been at the heart of my career and the language of choice as a hobby.
                                Since 2019, I've been leading and mentoring small teams of frontend developers from juniors to seniors.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section id="tools-skills-and-apps">
            <div class="content">

                <div class="row">
                    <div class="col-xs-12">
                        <h2>
                            <div class="heading">How I make things</div>
                            <div class="subheading">Below is a list of tools, skills, and apps I commonly use.</div>
                        </h2>
                    </div>
                </div>
            
                <div class="row middle-xs center-xs">
                    <div class="col-xs-4">
                        <div>
                            <div>
                                <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" title="Follow this link to Javascript delevoper documentation">
                                    <span class="sr-only">Inside this is link is a image of the logo for Javascript.</span>
                                    <div class="tech-logo" id="logo-javascript"></div>
                                </a>
                            </div>

                            <div>
                                <a href="https://developer.mozilla.org/en-US/docs/Glossary/HTML5" title="Follow this link to HTML 5 delevoper documentation">
                                    <span class="sr-only">Inside this is link is a image of the logo for HTML 5.</span>
                                    <div class="tech-logo" id="logo-html-5"></div>
                                </a>
                            </div>

                            <div>
                                <a href="https://developer.mozilla.org/en-US/docs/Web/CSS" title="Follow this link to CSS 3 delevoper documentation">
                                    <span class="sr-only">Inside this is link is a image of the logo for CSS 3.</span>
                                    <div class="tech-logo" id="logo-css-3"></div>
                                </a>
                            </div>

                            <div>
                                <a href="https://nodejs.org/en/" title="Follow this link to Node JS documentation">
                                    <span class="sr-only">Inside this is link is a image of the logo for Node JS.</span>
                                    <div class="tech-logo" id="logo-node-js"></div>
                                </a>
                            </div>

                            <div>
                                <a href="https://developers.google.com/apps-script" title="Follow this link to Google Apps Script delevoper documentation">
                                    <span class="sr-only">Inside this is link is a image of the logo for Google Apps Script.</span>
                                    <div class="tech-logo" id="logo-apps-script"></div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-4">
                        <div>

                            <div>
                                <a href="https://angularjs.org/">
                                    <span class="sr-only">Inside this is link is a image of the logo for Angular JS.</span>
                                    <div class="tech-logo" id="logo-angular-js" title="Follow this link to Angular JS delevoper documentation"></div>
                                </a>
                            </div>

                            <div>
                                <a href="https://expressjs.com/" title="Follow this link to Express JS delevoper documentation">
                                    <span class="sr-only">Inside this is link is a image of the logo for Express JS.</span>
                                    <div class="tech-logo" id="logo-express-js"></div>
                                </a>
                            </div>

                            <div>
                                <a href="https://pptr.dev/" title="Follow this link to Puppeteer delevoper documentation">
                                    <span class="sr-only">Inside this is link is a image of the logo for Puppeteer.</span>
                                    <div class="tech-logo" id="logo-puppeteer"></div>
                                </a>
                            </div>

                            <div>
                                <a href="https://webpack.js.org/" title="Follow this link to Webpack JS delevoper documentation">
                                    <span class="sr-only">Inside this is link is a image of the logo for Webpack JS.</span>
                                    <div class="tech-logo" id="logo-webpack"></div>
                                </a>
                            </div>

                            <div>
                                <a href="https://sass-lang.com/" title="Follow this link to Sass delevoper documentation">
                                    <span class="sr-only">Inside this is link is a image of the logo for Sass.</span>
                                    <div class="tech-logo" id="logo-sass"></div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-4">
                        <div>

                            <div>
                                <a href="https://code.visualstudio.com/" title="Follow this link to the Visual Studio Code homepage">
                                    <span class="sr-only">Inside this is link is a image of the logo for Visual Studio Code.</span>
                                    <div class="tech-logo" id="logo-vs-code"></div>
                                </a>
                            </div>

                            <div>
                                <a href="https://github.com/" title="Follow this link to GitHub's homepage">
                                    <span class="sr-only">Inside this is link is a image of the logo for GitHub.</span>
                                    <div class="tech-logo" id="logo-github"></div>
                                </a>
                            </div>

                            <div>
                                <a href="https://firebase.google.com/" title="Follow this link to Firebase's homepage">
                                    <span class="sr-only">Inside this is link is a image of the logo for Firebase.</span>
                                    <div class="tech-logo" id="logo-firebase"></div>
                                </a>
                            </div>

                            <div>
                                <a href="https://www.adobe.com/ca/products/illustrator.html" title="Follow this link to the product page for Adobe Illustrator">
                                    <span class="sr-only">Inside this is link is a image of the logo for Adobe Illustrator.</span>
                                    <div class="tech-logo" id="logo-adobe-illustrator"></div>
                                </a>

                            <div>
                                <a href="https://www.adobe.com/ca/products/xd.html" title="Follow this link to the product page for Adobe XD">
                                    <span class="sr-only">Inside this is link is a image of the logo for Adobe XD.</span>
                                    <div class="tech-logo" id="logo-adobe-xd"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

    </main>
  </body>
</html>
