html,
body {
  margin: 0;
  padding: 0;
}

html {
  background-color: #ffffff;
  font-size: 10px;
  color: #000000;
}

body {
  font-size: 1.6rem;
}

.title {
  font-family: "Lato", sans-serif;
  font-size: 50rem;
}
.title--sm {
  font-size: 12rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", sans-serif;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.6rem;
}

h6 {
  font-size: 1.4rem;
}

.para {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}
.para--lg {
  font-size: 2rem;
}
.para--sm {
  font-size: 1rem;
}

section > .row {
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  section > .row {
    width: 100%;
  }

  .title {
    font-size: 35rem;
  }
  .title--sm {
    font-size: 8.4rem;
  }
}
@media only screen and (min-width: 600px) {
  section > .row {
    width: 100%;
  }

  .title {
    font-size: 35rem;
  }
  .title--sm {
    font-size: 8.4rem;
  }
}
@media only screen and (min-width: 768px) {
  section > .row {
    width: 768px;
  }

  .title {
    font-size: 22.5rem;
  }
  .title--sm {
    font-size: 5.4rem;
  }
}
@media only screen and (min-width: 992px) {
  section > .row {
    width: 992px;
  }

  .title {
    font-size: 30rem;
  }
  .title--sm {
    font-size: 7.2rem;
  }
}
@media only screen and (min-width: 1560px) {
  section > .row {
    width: 1560px;
  }

  .title {
    font-size: 50rem;
  }
  .title--sm {
    font-size: 12rem;
  }
}