@-ms-viewport {
  width: device-width;
}
html,
body,
section,
div {
  position: relative;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

html {
  background-color: #ffffff;
  font-size: 16px;
  color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
}

body {
  font-size: 1.5rem;
}

/*
    This grid design was inspired by http://flexboxgrid.com/
    https://github.com/kristoferjoseph/flexboxgrid
*/
.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}

.row.reverse {
  flex-direction: row-reverse;
}

.col.reverse {
  flex-direction: column-reverse;
}

@media only screen and (min-width: 0rem) {
  .col-xs,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-offset-1,
.col-xs-offset-2,
.col-xs-offset-3,
.col-xs-offset-4,
.col-xs-offset-5,
.col-xs-offset-6,
.col-xs-offset-7,
.col-xs-offset-8,
.col-xs-offset-9,
.col-xs-offset-10,
.col-xs-offset-11,
.col-xs-offset-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .col-xs {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-xs-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .col-xs-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .col-xs-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-xs-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .col-xs-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .col-xs-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-xs-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .col-xs-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .col-xs-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-xs-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .col-xs-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .col-xs-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-xs-offset-0 {
    margin-left: 0;
  }

  .col-xs-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-xs-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-xs-offset-3 {
    margin-left: 25%;
  }

  .col-xs-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-xs-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-xs-offset-6 {
    margin-left: 50%;
  }

  .col-xs-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-xs-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-xs-offset-9 {
    margin-left: 75%;
  }

  .col-xs-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-xs-offset-11 {
    margin-left: 91.66666667%;
  }

  .start-xs {
    justify-content: flex-start;
    text-align: start;
  }

  .center-xs {
    justify-content: center;
    text-align: center;
  }

  .end-xs {
    justify-content: flex-end;
    text-align: end;
  }

  .top-xs {
    align-items: flex-start;
  }

  .middle-xs {
    align-items: center;
  }

  .bottom-xs {
    align-items: flex-end;
  }

  .around-xs {
    justify-content: space-around;
  }

  .between-xs {
    justify-content: space-between;
  }

  .first-xs {
    order: -1;
  }

  .last-xs {
    order: 1;
  }
}
@media only screen and (min-width: 30rem) {
  .col-sm,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-offset-1,
.col-sm-offset-2,
.col-sm-offset-3,
.col-sm-offset-4,
.col-sm-offset-5,
.col-sm-offset-6,
.col-sm-offset-7,
.col-sm-offset-8,
.col-sm-offset-9,
.col-sm-offset-10,
.col-sm-offset-11,
.col-sm-offset-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .col-sm {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-sm-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .col-sm-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .col-sm-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .col-sm-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .col-sm-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-sm-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .col-sm-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .col-sm-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-sm-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .col-sm-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .col-sm-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-sm-offset-0 {
    margin-left: 0;
  }

  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }

  .start-sm {
    justify-content: flex-start;
    text-align: start;
  }

  .center-sm {
    justify-content: center;
    text-align: center;
  }

  .end-sm {
    justify-content: flex-end;
    text-align: end;
  }

  .top-sm {
    align-items: flex-start;
  }

  .middle-sm {
    align-items: center;
  }

  .bottom-sm {
    align-items: flex-end;
  }

  .around-sm {
    justify-content: space-around;
  }

  .between-sm {
    justify-content: space-between;
  }

  .first-sm {
    order: -1;
  }

  .last-sm {
    order: 1;
  }
}
@media only screen and (min-width: 48rem) {
  .col-md,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-offset-1,
.col-md-offset-2,
.col-md-offset-3,
.col-md-offset-4,
.col-md-offset-5,
.col-md-offset-6,
.col-md-offset-7,
.col-md-offset-8,
.col-md-offset-9,
.col-md-offset-10,
.col-md-offset-11,
.col-md-offset-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .col-md {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-md-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .col-md-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .col-md-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-md-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .col-md-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .col-md-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-md-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .col-md-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .col-md-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-md-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .col-md-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .col-md-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-md-offset-0 {
    margin-left: 0;
  }

  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }

  .start-md {
    justify-content: flex-start;
    text-align: start;
  }

  .center-md {
    justify-content: center;
    text-align: center;
  }

  .end-md {
    justify-content: flex-end;
    text-align: end;
  }

  .top-md {
    align-items: flex-start;
  }

  .middle-md {
    align-items: center;
  }

  .bottom-md {
    align-items: flex-end;
  }

  .around-md {
    justify-content: space-around;
  }

  .between-md {
    justify-content: space-between;
  }

  .first-md {
    order: -1;
  }

  .last-md {
    order: 1;
  }
}
@media only screen and (min-width: 64rem) {
  .col-lg,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-offset-1,
.col-lg-offset-2,
.col-lg-offset-3,
.col-lg-offset-4,
.col-lg-offset-5,
.col-lg-offset-6,
.col-lg-offset-7,
.col-lg-offset-8,
.col-lg-offset-9,
.col-lg-offset-10,
.col-lg-offset-11,
.col-lg-offset-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .col-lg {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-lg-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .col-lg-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .col-lg-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .col-lg-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .col-lg-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .col-lg-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .col-lg-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-lg-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .col-lg-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .col-lg-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-lg-offset-0 {
    margin-left: 0;
  }

  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }

  .start-lg {
    justify-content: flex-start;
    text-align: start;
  }

  .center-lg {
    justify-content: center;
    text-align: center;
  }

  .end-lg {
    justify-content: flex-end;
    text-align: end;
  }

  .top-lg {
    align-items: flex-start;
  }

  .middle-lg {
    align-items: center;
  }

  .bottom-lg {
    align-items: flex-end;
  }

  .around-lg {
    justify-content: space-around;
  }

  .between-lg {
    justify-content: space-between;
  }

  .first-lg {
    order: -1;
  }

  .last-lg {
    order: 1;
  }
}
@media only screen and (min-width: 75rem) {
  .col-xl,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-offset-1,
.col-xl-offset-2,
.col-xl-offset-3,
.col-xl-offset-4,
.col-xl-offset-5,
.col-xl-offset-6,
.col-xl-offset-7,
.col-xl-offset-8,
.col-xl-offset-9,
.col-xl-offset-10,
.col-xl-offset-11,
.col-xl-offset-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .col-xl {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-xl-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .col-xl-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .col-xl-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-xl-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .col-xl-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .col-xl-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-xl-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .col-xl-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .col-xl-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-xl-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .col-xl-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .col-xl-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-xl-offset-0 {
    margin-left: 0;
  }

  .col-xl-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-xl-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-xl-offset-3 {
    margin-left: 25%;
  }

  .col-xl-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-xl-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-xl-offset-6 {
    margin-left: 50%;
  }

  .col-xl-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-xl-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-xl-offset-9 {
    margin-left: 75%;
  }

  .col-xl-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-xl-offset-11 {
    margin-left: 91.66666667%;
  }

  .start-xl {
    justify-content: flex-start;
    text-align: start;
  }

  .center-xl {
    justify-content: center;
    text-align: center;
  }

  .end-xl {
    justify-content: flex-end;
    text-align: end;
  }

  .top-xl {
    align-items: flex-start;
  }

  .middle-xl {
    align-items: center;
  }

  .bottom-xl {
    align-items: flex-end;
  }

  .around-xl {
    justify-content: space-around;
  }

  .between-xl {
    justify-content: space-between;
  }

  .first-xl {
    order: -1;
  }

  .last-xl {
    order: 1;
  }
}
@media only screen and (min-width: 100rem) {
  .col-hd,
.col-hd-1,
.col-hd-2,
.col-hd-3,
.col-hd-4,
.col-hd-5,
.col-hd-6,
.col-hd-7,
.col-hd-8,
.col-hd-9,
.col-hd-10,
.col-hd-11,
.col-hd-12,
.col-hd-offset-1,
.col-hd-offset-2,
.col-hd-offset-3,
.col-hd-offset-4,
.col-hd-offset-5,
.col-hd-offset-6,
.col-hd-offset-7,
.col-hd-offset-8,
.col-hd-offset-9,
.col-hd-offset-10,
.col-hd-offset-11,
.col-hd-offset-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .col-hd {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-hd-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .col-hd-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }

  .col-hd-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-hd-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }

  .col-hd-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }

  .col-hd-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-hd-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }

  .col-hd-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }

  .col-hd-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-hd-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }

  .col-hd-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }

  .col-hd-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-hd-offset-0 {
    margin-left: 0;
  }

  .col-hd-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-hd-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-hd-offset-3 {
    margin-left: 25%;
  }

  .col-hd-offset-4 {
    margin-left: 33.33333333%;
  }

  .col-hd-offset-5 {
    margin-left: 41.66666667%;
  }

  .col-hd-offset-6 {
    margin-left: 50%;
  }

  .col-hd-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-hd-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-hd-offset-9 {
    margin-left: 75%;
  }

  .col-hd-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-hd-offset-11 {
    margin-left: 91.66666667%;
  }

  .start-hd {
    justify-content: flex-start;
    text-align: start;
  }

  .center-hd {
    justify-content: center;
    text-align: center;
  }

  .end-hd {
    justify-content: flex-end;
    text-align: end;
  }

  .top-hd {
    align-items: flex-start;
  }

  .middle-hd {
    align-items: center;
  }

  .bottom-hd {
    align-items: flex-end;
  }

  .around-hd {
    justify-content: space-around;
  }

  .between-hd {
    justify-content: space-between;
  }

  .first-hd {
    order: -1;
  }

  .last-hd {
    order: 1;
  }
}
.content {
  margin: 0 auto;
  width: calc(100% - 1rem);
}

@media only screen and (min-width: 30rem) {
  .content {
    width: 29rem;
  }
}
@media only screen and (min-width: 48rem) {
  .content {
    width: 47rem;
  }
}
@media only screen and (min-width: 64rem) {
  .content {
    width: 63rem;
  }
}
@media only screen and (min-width: 75rem) {
  .content {
    width: 74rem;
  }
}
@media only screen and (min-width: 100rem) {
  .content {
    width: 99rem;
  }
}
.title {
  font-family: "Lato", sans-serif;
  font-size: 50rem;
}
.title--sm {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", sans-serif;
}

h1 {
  font-size: 6rem;
}

h1 .subheading {
  font-size: 3.6rem;
}

h2 {
  font-size: 4rem;
}

h2 .subheading {
  font-size: 2.4rem;
}

h3 {
  font-size: 2.2rem;
  margin: 0 1rem 1rem;
}

h3 .subheading {
  font-size: 1.32rem;
}

h4 {
  font-size: 2rem;
}

h4 .subheading {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.6rem;
}

.heading,
.subheading {
  margin-left: 1rem;
  margin-right: 1rem;
}

.subheading {
  color: rgba(0, 0, 0, 0.7);
}

.para, .para--block {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  line-height: 1.8rem;
  letter-spacing: 0.05rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.para--block {
  line-height: 2.5rem;
}

h1 .material-icons,
h2 .material-icons,
h3 .material-icons,
h4 .material-icons,
h5 .material-icons,
h6 .material-icons,
.para .material-icons,
.para--block .material-icons {
  font-size: inherit;
}

@media only screen and (min-width: 0rem) {
  .title {
    font-size: 24rem;
  }
  .title--sm {
    font-size: 5rem;
  }
}
@media only screen and (min-width: 30rem) {
  .title {
    font-size: 24rem;
  }
  .title--sm {
    font-size: 5rem;
  }
}
@media only screen and (min-width: 48rem) {
  .title {
    font-size: 22.5rem;
  }
  .title--sm {
    font-size: 5.4rem;
  }
}
@media only screen and (min-width: 64rem) {
  .title {
    font-size: 22rem;
  }
  .title--sm {
    font-size: 4rem;
  }
}
@media only screen and (min-width: 75rem) {
  .title {
    font-size: 24rem;
  }
  .title--sm {
    font-size: 5.52rem;
  }
}
@media only screen and (min-width: 100rem) {
  .title {
    font-size: 34rem;
  }
  .title--sm {
    font-size: 7.5rem;
  }
}
@media only screen and (max-width: 26.25rem) {
  .title {
    font-size: 18rem;
  }
  .title--sm {
    font-size: 4rem;
  }

  .para, .para--block {
    font-size: 0.975rem;
  }

  h2 {
    font-size: 2.6rem;
  }

  h2 .subheading {
    font-size: 1.25rem;
  }

  h3 {
    font-size: 1.43rem;
  }
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.tech-logo {
  max-width: 30%;
  height: 150px;
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

#logo-javascript {
  background-image: url("../assets/javascript.png");
  background-size: 80%;
}

#logo-html-5 {
  background-image: url("../assets/html-5.png");
  background-size: 75%;
}

#logo-css-3 {
  background-image: url("../assets/css-3.png");
  background-size: 60%;
}

#logo-node-js {
  background-image: url("../assets/node-js.png");
}

#logo-apps-script {
  background-image: url("../assets/apps-script.png");
}

#logo-angular-js {
  background-image: url("../assets/angular-js.png");
}

#logo-express-js {
  background-image: url("../assets/express-js.png");
}

#logo-puppeteer {
  background-image: url("../assets/puppeteer.png");
  background-size: 65%;
}

#logo-webpack {
  background-image: url("../assets/webpack.png");
}

#logo-sass {
  background-image: url("../assets/sass.png");
}

#logo-vs-code {
  background-image: url("../assets/visual-studio-code.png");
  background-size: 75%;
}

#logo-github {
  background-image: url("../assets/github.png");
}

#logo-firebase {
  background-image: url("../assets/firebase.png");
  background-size: 140%;
}

#logo-adobe-illustrator {
  background-image: url("../assets/adobe-illustrator.png");
  background-size: 75%;
}

#logo-adobe-xd {
  background-image: url("../assets/adobe-xd.png");
  background-size: 75%;
}

#logo-typescript {
  background-image: url("../assets/typescript.svg");
  background-size: 85%;
}

#logo-docker {
  background-image: url("../assets/docker.png");
}

#logo-postgres {
  background-image: url("../assets/postgres.png");
  background-size: 85%;
}

@media only screen and (max-width: 0rem) {
  .tech-logo {
    height: 204px;
    max-width: 50%;
  }
}
@media only screen and (min-width: 30rem) {
  .tech-logo {
    height: 204px;
    max-width: 50%;
  }
}
@media only screen and (min-width: 48rem) {
  .tech-logo {
    height: 204px;
    max-width: 30%;
  }
}
@media only screen and (min-width: 64rem) {
  .tech-logo {
    max-width: 30%;
    height: 150px;
  }
}
@media only screen and (min-width: 75rem) {
  .tech-logo {
    max-width: 30%;
    height: 150px;
  }
}
@media only screen and (min-width: 100rem) {
  .tech-logo {
    max-width: 30%;
    height: 150px;
  }
}
.avatar--music {
  max-width: 75%;
  height: 200px;
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  border-radius: 100%;
  margin-bottom: 1.5rem;
}

#avatar-lil-nas-x {
  background-image: url("../assets/lil-nas-x.jpg");
  background-size: 110%;
}

#avatar-selah-sue {
  background-image: url("../assets/selah-sue.jpg");
}

#avatar-rac {
  background-image: url("../assets/rac.jpg");
  background-size: 162%;
}

#avatar-charli-xcx {
  background-image: url("../assets/charli-xcx.jpg");
}

#avatar-quadeca {
  background-image: url("../assets/quadeca.jpg");
  background-size: 108%;
}

#avatar-the-kooks {
  background-image: url("../assets/the-kooks.jpg");
  background-size: 120%;
}

@media only screen and (max-width: 0rem) {
  .avatar--music {
    max-width: 48%;
    height: 235px;
  }
}
@media only screen and (min-width: 30rem) {
  .avatar--music {
    height: 200px;
    max-width: 86%;
  }
}
@media only screen and (min-width: 48rem) {
  .avatar--music {
    height: 200px;
    max-width: 80%;
  }
}
@media only screen and (min-width: 64rem) {
  .avatar--music {
    height: 155px;
    max-width: 95%;
  }
}
@media only screen and (min-width: 75rem) {
  .avatar--music {
    height: 200px;
    max-width: 100%;
  }
}
@media only screen and (min-width: 100rem) {
  .avatar--music {
    height: 225px;
    max-width: 90%;
  }
}
@media only screen and (max-width: 26.25rem) {
  .avatar--music {
    max-width: 56%;
    height: 200px;
  }
}
.avatar--book {
  max-width: 60%;
  height: 450px;
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: top;
  display: inline-block;
  border: 1rem solid #ffffff;
  border-radius: 1.5rem;
  margin-bottom: 1.5rem;
}

#book-clans-of-the-alphane-moon {
  background-image: url("../assets/clans-of-the-alphane-moon.jpg");
}

#book-ascender {
  background-image: url("../assets/ascender.jpg");
}

#book-sweet-tooth {
  background-image: url("../assets/sweet-tooth.jpg");
}

@media only screen and (min-width: 0rem) {
  .avatar--book {
    max-width: 62%;
    height: 400px;
  }
}
@media only screen and (min-width: 30rem) {
  .avatar--book {
    max-width: 62%;
    height: 400px;
  }
}
@media only screen and (min-width: 48rem) {
  .avatar--book {
    max-width: 30%;
    height: 320px;
  }
}
@media only screen and (min-width: 64rem) {
  .avatar--book {
    max-width: 80%;
    height: 380px;
  }
}
@media only screen and (min-width: 75rem) {
  .avatar--book {
    max-width: 82%;
    height: 450px;
  }
}
@media only screen and (min-width: 100rem) {
  .avatar--book {
    max-width: 60%;
    height: 450px;
  }
}
@media only screen and (max-width: 26.25rem) {
  .avatar--book {
    max-width: 80%;
    height: 400px;
  }
}
.callout, .callout--right {
  position: absolute;
  height: 100%;
  width: 66.6666666667%;
  top: 0px;
}
.callout--right {
  right: -80px;
  transform: skewX(-20deg);
}

@media only screen and (min-width: 0rem) {
  .callout--right {
    right: -60px;
  }
}
@media only screen and (min-width: 30rem) {
  .callout--right {
    right: -60px;
  }
}
@media only screen and (min-width: 30rem) {
  .callout--right {
    right: -60px;
  }
}
@media only screen and (min-width: 48rem) {
  .callout--right {
    right: -17%;
    width: 80%;
  }
}
.parallax, .parallax--travelling, .parallax--tasha, .parallax--saltmarsh, .parallax--ravenloft, .parallax--dragon-skyline {
  min-height: 500px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rbga(0, 0, 0, 0.6);
}
.parallax--dragon-skyline {
  background-image: url(../assets/ttg/dnd-dragon-skyline.jpg);
}
.parallax--ravenloft {
  background-image: url(../assets/ttg/dnd-ravenloft.jpg);
}
.parallax--saltmarsh {
  background-image: url(../assets/ttg/dnd-saltmarsh.jpg);
}
.parallax--tasha {
  background-image: url(../assets/ttg/dnd-tasha.jpg);
}
.parallax--travelling {
  background-image: url(../assets/ttg/dnd-travelling.jpg);
}

@media only screen and (max-width: 30rem) {
  .parallax--dragon-skyline {
    background-size: 625%;
  }
  .parallax--ravenloft {
    background-size: 576%;
    background-position-x: 68%;
  }
  .parallax--saltmarsh {
    background-position-x: 50%;
    background-size: 340%;
  }
  .parallax--tasha {
    background-size: 400%;
    background-position-x: 75%;
  }
  .parallax--travelling {
    background-size: 300%;
    background-position-x: 82%;
  }
}
@media only screen and (min-width: 30rem) {
  .parallax--dragon-skyline {
    background-size: 470%;
  }
  .parallax--ravenloft {
    background-size: 444%;
    background-position-x: 70%;
  }
  .parallax--saltmarsh {
    background-position-x: 60%;
    background-size: 300%;
  }
  .parallax--tasha {
    background-size: 400%;
    background-position-x: 75%;
  }
  .parallax--travelling {
    background-size: 245%;
    background-position-x: 90%;
  }
}
@media only screen and (min-width: 48rem) {
  .parallax--dragon-skyline {
    background-size: 330%;
  }
  .parallax--ravenloft {
    background-size: 300%;
    background-position-x: 70%;
  }
  .parallax--saltmarsh {
    background-position-x: 66%;
    background-size: 250%;
  }
  .parallax--tasha {
    background-size: 250%;
    background-position-x: 75%;
  }
}
@media only screen and (min-width: 64rem) {
  .parallax--dragon-skyline {
    background-size: 240%;
  }
  .parallax--ravenloft {
    background-size: 220%;
    background-position-x: 60%;
  }
  .parallax--saltmarsh {
    background-position-x: 70%;
    background-size: 200%;
  }
  .parallax--tasha {
    background-size: 200%;
    background-position-x: 90%;
  }
  .parallax--travelling {
    background-size: 160%;
    background-position-x: 90%;
  }
}
@media only screen and (min-width: 75rem) {
  .parallax--dragon-skyline {
    background-size: 140%;
  }
  .parallax--ravenloft {
    background-size: 125%;
    background-position-x: 90%;
  }
  .parallax--saltmarsh {
    background-position-x: 60%;
    background-size: 120%;
  }
  .parallax--tasha {
    background-size: 128%;
    background-position-x: 100%;
  }
  .parallax--travelling {
    background-size: 110%;
    background-position-x: 90%;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .parallax, .parallax--dragon-skyline, .parallax--ravenloft, .parallax--saltmarsh, .parallax--tasha, .parallax--travelling {
    background-attachment: initial;
  }
}