@-ms-viewport {
  width: device-width;
}
html,
body,
section,
div {
  position: relative;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

html {
  background-color: #ffffff;
  font-size: 10px;
  color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
}

body {
  font-size: 1.8rem;
}

.title {
  font-family: "Lato", sans-serif;
  font-size: 50rem;
}
.title--sm {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 11rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", sans-serif;
}

h1 {
  font-size: 8rem;
}

h1 .subheading {
  font-size: 4.8rem;
}

h2 {
  font-size: 6rem;
}

h2 .subheading {
  font-size: 3.6rem;
}

h3 {
  font-size: 3.5rem;
}

h3 .subheading {
  font-size: 2.1rem;
}

h4 {
  font-size: 2.5rem;
}

h4 .subheading {
  font-size: 1.5rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.8rem;
}

.heading,
.subheading {
  margin-left: 1.6rem;
  margin-right: 1.6rem;
}

.subheading {
  color: rgba(0, 0, 0, 0.7);
}

.para, .para--sm, .para--lg {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  line-height: 2.4rem;
  letter-spacing: 0.05rem;
}
.para--lg {
  font-size: 3rem;
}
.para--sm {
  font-size: 1.6rem;
}

@media only screen and (max-width: 600px) {
  .para, .para--lg, .para--sm {
    font-size: 2.25rem;
    line-height: 3rem;
  }
  .para--lg {
    font-size: 3.75rem;
  }
  .para--sm {
    font-size: 2rem;
  }
}
h1 .material-icons,
h2 .material-icons,
h3 .material-icons,
h4 .material-icons,
h5 .material-icons,
h6 .material-icons,
.para .material-icons,
.para--lg .material-icons,
.para--sm .material-icons {
  font-size: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

section > .content {
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  [class*=col-xs] {
    flex-basis: 100%;
    min-width: 100%;
  }

  section > .content {
    width: 100%;
  }

  .title {
    font-size: 25rem;
  }
  .title--sm {
    font-size: 5.5rem;
  }
}
@media only screen and (min-width: 600px) {
  section > .content {
    width: 100%;
  }

  .title {
    font-size: 35rem;
  }
  .title--sm {
    font-size: 7.7rem;
  }
}
@media only screen and (min-width: 768px) {
  section > .content {
    width: 768px;
  }

  .title {
    font-size: 22.5rem;
  }
  .title--sm {
    font-size: 4.95rem;
  }
}
@media only screen and (min-width: 992px) {
  section > .content {
    width: 992px;
  }

  .title {
    font-size: 30rem;
  }
  .title--sm {
    font-size: 6.6rem;
  }
}
@media only screen and (min-width: 1560px) {
  section > .content {
    width: 1560px;
  }

  .title {
    font-size: 50rem;
  }
  .title--sm {
    font-size: 11rem;
  }
}
.callout, .callout--left, .callout--right {
  position: absolute;
  height: 100%;
  width: 66.6666666667%;
  top: 0px;
}
.callout--right {
  right: -80px;
  transform: skewX(-20deg);
}
.callout--left {
  left: -80px;
  transform: skewX(20deg);
}

@media only screen and (max-width: 600px) {
  .callout--right {
    right: -60px;
  }
  .callout--left {
    left: -60px;
  }
}
@media only screen and (min-width: 600px) {
  .callout--right {
    right: -60px;
  }
  .callout--left {
    left: -60px;
  }
}
@media only screen and (min-width: 768px) {
  .callout--right {
    right: -60px;
  }
  .callout--left {
    left: -60px;
  }
}
@media only screen and (min-width: 992px) {
  .callout--right {
    right: -60px;
  }
  .callout--left {
    left: -60px;
  }
}
@media only screen and (min-width: 1560px) {
  .callout--right {
    right: -80px;
  }
  .callout--left {
    left: -80px;
  }
}
.tech-logo {
  max-width: 30%;
  height: 150px;
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

#logo-javascript {
  background-image: url("../assets/javascript.png");
  background-size: 80%;
}

#logo-html-5 {
  background-image: url("../assets/html-5.png");
  background-size: 75%;
}

#logo-css-3 {
  background-image: url("../assets/css-3.png");
  background-size: 60%;
}

#logo-node-js {
  background-image: url("../assets/node-js.png");
}

#logo-apps-script {
  background-image: url("../assets/apps-script.png");
}

#logo-angular-js {
  background-image: url("../assets/angular-js.png");
}

#logo-express-js {
  background-image: url("../assets/express-js.png");
}

#logo-puppeteer {
  background-image: url("../assets/puppeteer.png");
  background-size: 65%;
}

#logo-webpack {
  background-image: url("../assets/webpack.png");
}

#logo-sass {
  background-image: url("../assets/sass.png");
}

#logo-vs-code {
  background-image: url("../assets/visual-studio-code.png");
  background-size: 75%;
}

#logo-github {
  background-image: url("../assets/github.png");
}

#logo-firebase {
  background-image: url("../assets/firebase.png");
  background-size: 140%;
}

#logo-adobe-illustrator {
  background-image: url("../assets/adobe-illustrator.png");
  background-size: 75%;
}

#logo-adobe-xd {
  background-image: url("../assets/adobe-xd.png");
  background-size: 75%;
}

#logo-typescript {
  background-image: url("../assets/typescript.svg");
  background-size: 85%;
}

#logo-docker {
  background-image: url("../assets/docker.png");
}

#logo-postgres {
  background-image: url("../assets/postgres.png");
  background-size: 85%;
}

@media only screen and (max-width: 600px) {
  .tech-logo {
    max-width: 30%;
  }
}
@media only screen and (min-width: 600px) {
  .tech-logo {
    max-width: 75%;
  }
}
@media only screen and (min-width: 768px) {
  .tech-logo {
    max-width: 60%;
  }
}
@media only screen and (min-width: 992px) {
  .tech-logo {
    max-width: 50%;
  }
}
@media only screen and (min-width: 1560px) {
  .tech-logo {
    max-width: 30%;
  }
}
.avatar--music {
  max-width: 75%;
  height: 200px;
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  border-radius: 100%;
  margin-bottom: 2.4rem;
}

#avatar-lil-nas-x {
  background-image: url("../assets/lil-nas-x.jpg");
  background-size: 110%;
}

#avatar-selah-sue {
  background-image: url("../assets/selah-sue.jpg");
}

#avatar-rac {
  background-image: url("../assets/rac.jpg");
  background-size: 162%;
}

#avatar-charli-xcx {
  background-image: url("../assets/charli-xcx.jpg");
}

#avatar-quadeca {
  background-image: url("../assets/quadeca.jpg");
  background-size: 108%;
}

#avatar-the-kooks {
  background-image: url("../assets/the-kooks.jpg");
  background-size: 120%;
}

@media only screen and (max-width: 600px) {
  .avatar--music {
    max-width: 48%;
    height: 235px;
  }
}
@media only screen and (min-width: 600px) {
  .avatar--music {
    height: 102px;
    max-width: 86%;
  }
}
@media only screen and (min-width: 768px) {
  .avatar--music {
    height: 102px;
    max-width: 80%;
  }
}
@media only screen and (min-width: 992px) {
  .avatar--music {
    height: 120px;
    max-width: 75%;
  }
}
@media only screen and (min-width: 1560px) {
  .avatar--music {
    height: 200px;
    max-width: 75%;
  }
}
.avatar--book {
  max-width: 60%;
  height: 450px;
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: top;
  display: inline-block;
  border: 1rem solid #ffffff;
  border-radius: 2.4rem;
  margin-bottom: 2.4rem;
}

#book-clans-of-the-alphane-moon {
  background-image: url("../assets/clans-of-the-alphane-moon.jpg");
}

#book-ascender {
  background-image: url("../assets/ascender.jpg");
}

#book-sweet-tooth {
  background-image: url("../assets/sweet-tooth.jpg");
}

@media only screen and (max-width: 600px) {
  .avatar--book {
    max-width: 65%;
    height: 450px;
  }
}
@media only screen and (min-width: 600px) {
  .avatar--book {
    max-width: 95%;
    height: 310px;
  }
}
@media only screen and (min-width: 768px) {
  .avatar--book {
    max-width: 91%;
    height: 330px;
  }
}
@media only screen and (min-width: 992px) {
  .avatar--book {
    max-width: 80%;
    height: 380px;
  }
}
@media only screen and (min-width: 1560px) {
  .avatar--book {
    max-width: 60%;
    height: 450px;
  }
}